/* --- Sticky Footer Universal --- */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    /* konten utama isi ruang tengah */
    flex: 1;
    min-height: 70vh;
    padding-bottom: 60px;
}

main > .container {
    min-height: 75vh;
    padding-bottom: 60px;
}

footer {
    margin-top: auto;
}